{{#block "sprites-comment"}}
/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<!-- `display: block` sprite -->
<div class="icon-home"></div>

<!-- `display: inline-block` sprite -->
<img class="icon-home" />
```
*/
{{/block}}
{{#block "sprites"}}
{{#each retina_groups.groups}}
{{{selector}}} {
  background-image: url({{{normal.escaped_image}}});
  background-position: {{normal.px.offset_x}} {{normal.px.offset_y}};
  width: {{normal.px.width}};
  height: {{normal.px.height}};
}
{{/each}}
{{/block}}
